.xs_build_panel_bg{
       background-size:cover;
}
.xs_build_panel_link {
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ffb342;
    border: 2px solid black;
}
.xsb_image_slide {
        display:none;
}

.xs_build_carousel {
        display: -webkit-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
}

.xs_build_carousel_content {
        min-width:100%;
        display:contents;
}

.xsb_carousel_item {
        float:left;
        display:contents;
}

.xsb_carousel_item > * {
        max-height:100%;
        max-width:100%;
}

.xs_build_carousel_control {
        cursor: pointer;
        text-align:center;
        padding: 32px;
        font-size: 32px;
}
